/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_ru.h"

#define DEFAULT    0
#define ENG_SYM    1
#define RUSSIAN    2
#define RUS_SYM    3
#define LOWER      4
#define RAISE      5
#define ADJUST     6

&sk {
  quick-release;
};

/ {
  macros {
    switch_to_russian: switch_to_russian {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&tog RUSSIAN>
        , <&kp LC(SPACE)>
        ;
    };
  };

  combos {
// ┌───┬───┬───┬───┬───┬───┐  ┌───┬───┬───┬───┬───┬───┐
// │  0│  1│  2│  3│  4│  5│  │  6│  7│  8│ 9 │ 10│ 11│
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │ 12│ 13│ 14│ 15│ 16│ 17│  │ 18│ 19│ 20│ 21│ 22│ 23│
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │ 24│ 25│ 26│ 27│ 28│ 29│  │ 30│ 31│ 32│ 33│ 34│ 35│
// └───┴───┴───┼───┼───┼───┤  ├───┼───┼───┼───┴───┴───┘
//             │ 36│ 37│ 38│  │ 39│ 40│ 41│
//             └───┴───┴───┘  └───┴───┴───┘
    compatible = "zmk,combos";
    combo_lock_screen {
// ┌───┬───┬───┬───┬───┬───┐  ┌───┬───┬───┬───┬───┬───┐
// │   │   │   │   │   │   │  │   │   │   │   │   │   │
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │   │   │   │   │   │   │  │   │   │   │   │   │   │
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │   │   │ █ │ █ │ █ │   │  │   │   │   │   │   │   │
// └───┴───┴───┼───┼───┼───┤  ├───┼───┼───┼───┴───┴───┘
//             │   │   │   │  │   │   │   │
//             └───┴───┴───┘  └───┴───┴───┘
      timeout-ms = <50>;
      key-positions = <26 27 28>;
      bindings = <&kp LC(LG(Q))>;
    };
    combo_caps_lock {
// ┌───┬───┬───┬───┬───┬───┐  ┌───┬───┬───┬───┬───┬───┐
// │   │   │   │   │   │   │  │   │   │   │   │   │   │
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │   │   │   │   │   │ █ │  │ █ │   │   │   │   │   │
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │   │   │   │   │   │   │  │   │   │   │   │   │   │
// └───┴───┴───┼───┼───┼───┤  ├───┼───┼───┼───┴───┴───┘
//             │   │   │   │  │   │   │   │
//             └───┴───┴───┘  └───┴───┴───┘
      timeout-ms = <50>;
      key-positions = <17 18>;
      bindings = <&kp CAPSLOCK>;
    };
    combo_russian_layer {
// ┌───┬───┬───┬───┬───┬───┐  ┌───┬───┬───┬───┬───┬───┐
// │   │   │   │   │   │   │  │   │   │   │   │   │   │
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │   │   │   │   │   │   │  │   │   │   │   │   │   │
// ├───┼───┼───┼───┼───┼───┤  ├───┼───┼───┼───┼───┼───┤
// │ █ │   │   │   │   │   │  │   │   │   │   │   │ █ │
// └───┴───┴───┼───┼───┼───┤  ├───┼───┼───┼───┴───┴───┘
//             │   │   │   │  │   │   │   │
//             └───┴───┴───┘  └───┴───┴───┘
      timeout-ms = <50>;
      key-positions = <24 35>;
      bindings = <&switch_to_russian>;
    };
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
    adjust_layer {
      if-layers = <LOWER RAISE>;
      then-layer = <ADJUST>;
    };
  };

  behaviors {
    hml: homerow_mods_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <280>;
      quick-tap-ms = <175>;
      require-prior-idle-ms = <150>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 36 37 38 39 40 41>;
      hold-trigger-on-release;
    };
    hmr: homerow_mods_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <280>;
      quick-tap-ms = <175>;
      require-prior-idle-ms = <150>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
      hold-trigger-on-release;
    };
// engram
    mm_qt: quote_open_parenthesis {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp APOS>, <&kp LPAR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mm_dqt: double_quote_close_parenthesis {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DQT>, <&kp RPAR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mm_comma: comma_semicolon {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp COMMA>, <&kp SEMICOLON>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mm_dot: dot_colon {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DOT>, <&kp COLON>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mm_qmark: question_mark_exclamation {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp QMARK>, <&kp EXCL>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_engram_layer {
// ┌───────┬───────┬───────┬───────┬───────┬───────┐     ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │   ESC │     B │     Y │     O │     U │   ' ( │     │   " ) │     L │     D │     W │     V │     Z │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │   TAB │  LC C │  LA I │  LG E │  LS A │   , ; │     │   . : │  RS H │  RG T │  RA S │  RC N │     Q │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │   DEL │     G │     X │     J │     K │   - _ │     │   ? ! │     R │     M │     F │     P │  BSPC │
// └───────┴───────┴───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┴───────┴───────┘
//                         │   SYM │   LWR │   SPC │     │   ENT │   RSE │   SYM │
//                         └───────┴───────┴───────┘     └───────┴───────┴───────┘
      bindings = <
     &kp ESC  &kp B         &kp Y        &kp O        &kp U         &mm_qt         &mm_dqt    &kp L         &kp D        &kp W        &kp V         &kp Z
     &kp TAB  &hml LCTRL C  &hml LALT I  &hml LCMD E  &hml LSHFT A  &mm_comma      &mm_dot    &hmr RSHFT H  &hmr RCMD T  &hmr RALT S  &hmr RCTRL N  &kp Q
     &kp DEL  &kp G         &kp X        &kp J        &kp K         &kp MINUS      &mm_qmark  &kp R         &kp M        &kp F        &kp P         &kp BSPC
                                         &mo ENG_SYM  &mo LOWER     &kp SPACE      &kp RET    &mo RAISE     &mo ENG_SYM
      >;
    };

    symbol_engram_layer {
// ┌───────┬───────┬───────┬───────┬───────┬───────┐     ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │     [ │     1 │     2 │     3 │     4 │     5 │     │     6 │     7 │     8 │     9 │     0 │     ] │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │     { │  LC | │  LA = │  LG ~ │  LS + │     < │     │     > │  RS ^ │  RG & │  RA % │  RC * │     } │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │     # │     @ │     / │     │     \ │     ` │     $ │       │       │       │
// └───────┴───────┴───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┴───────┴───────┘
//                         │       │       │       │     │       │       │       │
//                         └───────┴───────┴───────┘     └───────┴───────┴───────┘
      bindings = <
     &kp LBKT  &kp N1           &kp N2           &kp N3           &kp N4           &kp N5        &kp N6    &kp N7            &kp N8          &kp N9           &kp N0           &kp RBKT
     &kp LBRC  &hml LCTRL PIPE  &hml LALT EQUAL  &hml LCMD TILDE  &hml LSHFT PLUS  &kp LT        &kp GT    &hmr RSHFT CARET  &hmr RCMD AMPS  &hmr RALT PRCNT  &hmr RCTRL STAR  &kp RBRC
     &none     &none            &none            &kp HASH         &kp AT           &kp FSLH      &kp BSLH  &kp GRAVE         &kp DLLR        &none            &none            &none
                                                 &none            &none            &none         &none     &none             &none
      >;
    };

    russian_layer {
// ┌───┬───┬───┬───┬───┬───┐     ┌───┬───┬───┬───┬───┬───┐
// │ Щ │ Ц │ К │ Л │ Б │ Й │     │ Ъ │ Ы │ Я │ Э │ Ф │ESC│
// ├───┼───┼───┼───┼───┼───┤     ├───┼───┼───┼───┼───┼───┤
// │ Ч │ З │ В │ Н │ Т │ Д │     │ И │ А │ О │ Е │ С │RSH│
// ├───┼───┼───┼───┼───┼───┤     ├───┼───┼───┼───┼───┼───┤
// │ Ж │ Х │ П │ Р │ М │ Г │     │ Ё │ Ь │ У │ Ю │ Ш │BSP│
// └───┴───┴───┼───┼───┼───┤     ├───┼───┼───┼───┴───┴───┘
//             │SYM│LWR│SPC│     │ENT│RSE│SYM│
//             └───┴───┴───┘     └───┴───┴───┘
      bindings = <
     &kp RU_SHH  &kp RU_C  &kp RU_K  &kp RU_L     &kp RU_B    &kp RU_J      &kp RU_TZ      &kp RU_Y   &kp RU_YA  &kp RU_EE  &kp RU_F   &kp ESC
     &kp RU_CH   &kp RU_Z  &kp RU_V  &kp RU_N     &kp RU_T    &kp RU_D      &kp RU_I       &kp RU_A   &kp RU_O   &kp RU_E   &kp RU_S   &sk RSHFT
     &kp RU_ZH   &kp RU_X  &kp RU_P  &kp RU_R     &kp RU_M    &kp RU_G      &kp RU_MAC_YO  &kp RU_MZ  &kp RU_U   &kp RU_YU  &kp RU_SH  &kp BSPC
                                     &mo RUS_SYM  &mo LOWER   &kp SPACE     &kp RET        &mo RAISE  &mo RUS_SYM
      >;
    };

    symbol_russian_layer {
// ┌───────┬───────┬───────┬───────┬───────┬───────┐     ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │     [ │     1 │     2 │     3 │     4 │     5 │     │     6 │     7 │     8 │     9 │     0 │     ] │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │     { │       │       │     - │     ; │     , │     │     . │     : │     ? │       │       │     } │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │     _ │     ' │     ( │     │     ) │     " │     ! │       │       │       │
// └───────┴───────┴───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┴───────┴───────┘
//                         │       │       │       │     │       │       │       │
//                         └───────┴───────┴───────┘     └───────┴───────┴───────┘
      bindings = <
     &kp LBKT  &kp N1  &kp N2  &kp N3     &kp N4         &kp N5         &kp N6    &kp N7     &kp N8     &kp N9  &kp N0  &kp RBKT
     &kp LBRC  &none   &none   &kp MINUS  &kp SEMICOLON  &kp COMMA      &kp DOT   &kp COLON  &kp QMARK  &none   &none   &kp RBRC
     &none     &none   &none   &kp UNDER  &kp APOS       &kp LPAR       &kp RPAR  &kp DQT    &kp EXCL   &none   &none   &none
                               &none      &none          &none          &none     &none      &none
      >;
    };

    lower_layer {
// ┌───────┬───────┬───────┬───────┬───────┬───────┐     ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │   TAB │     0 │     1 │     2 │     3 │       │     │       │ PG UP │    UP │  HOME │       │  BKSP │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ LCTRL │       │     4 │     5 │     6 │       │     │       │   LFT │   DWN │   RGT │       │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ LSHFT │       │     7 │     8 │     9 │       │     │       │ PG DN │       │   END │       │       │
// └───────┴───────┴───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┴───────┴───────┘
//                         │  LCMD │       │ SPACE │     │ ENTER │       │  RALT │
//                         └───────┴───────┴───────┘     └───────┴───────┴───────┘
      bindings = <
     &kp TAB    &kp N0  &kp N1  &kp N2    &kp N3  &none          &none    &kp PG_UP  &kp UP    &kp HOME   &none  &kp BSPC
     &kp LCTRL  &none   &kp N4  &kp N5    &kp N6  &none          &none    &kp LEFT   &kp DOWN  &kp RIGHT  &none  &none
     &kp LSHFT  &none   &kp N7  &kp N8    &kp N9  &none          &none    &kp PG_DN  &none     &kp END    &none  &none
                                &kp LCMD  &trans  &kp SPACE      &kp RET  &trans     &kp RALT
      >;
    };

    raise_layer {
// ┌───────┬───────┬───────┬───────┬───────┬───────┐     ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │   TAB │     ! │     @ │     # │     $ │     % │     │     ^ │     & │     * │     ( │     ) │  BKSP │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ LCTRL │       │       │       │       │       │     │     - │     = │     [ │     ] │     \ │     ` │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ LSHFT │       │       │       │       │       │     │     _ │     + │     { │     } │     | │     ~ │
// └───────┴───────┴───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┴───────┴───────┘
//                         │  LCMD │       │ SPACE │     │ ENTER │       │  RALT │
//                         └───────┴───────┴───────┘     └───────┴───────┴───────┘
      bindings = <
     &kp  TAB   &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT      &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
     &kp LCTRL  &trans    &trans  &trans    &trans    &trans         &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
     &kp LSHFT  &trans    &trans  &trans    &trans    &trans         &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                  &kp LCMD  &trans    &kp SPACE      &kp RET    &trans     &kp RALT
      >;
    };

    adjust_layer {
// ┌───────┬───────┬───────┬───────┬───────┬───────┐     ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │   TAB │       │       │       │       │       │     │ CPTRE │       │       │       │       │  BKSP │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ BTCLR │   BT1 │   BT2 │   BT3 │   BT4 │   BT5 │     │       │  PREV │ PL/PS │  NEXT │       │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ LSHFT │       │       │       │       │       │     │       │ VL DN │  MUTE │ VL UP │       │       │
// └───────┴───────┴───────┼───────┼───────┼───────┤     ├───────┼───────┼───────┼───────┴───────┴───────┘
//                         │  LCMD │       │ SPACE │     │ ENTER │       │  RALT │
//                         └───────┴───────┴───────┘     └───────┴───────┴───────┘
      bindings = <
     &kp TAB     &trans        &trans        &trans        &trans        &trans            &kp LG(LS(N4))  &trans        &trans      &trans        &trans  &kp BSPC
     &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &trans          &kp C_PREV    &kp C_PP    &kp C_NEXT    &trans  &trans
     &kp LSHFT   &trans        &trans        &trans        &trans        &trans            &trans          &kp C_VOL_DN  &kp K_MUTE  &kp C_VOL_UP  &trans  &trans
                                             &kp LCMD      &trans        &kp SPACE         &kp RET         &trans        &kp RALT
      >;
    };

  };
};
